<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
   <div id="error_explanation">
     <h2><%= @task.errors.count %>件のエラーがあります。</h2>
     <ul>
     <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
     </ul>
  </div>
<% end %>
<div class="form_group pt-4 pb-3">
  <%= form.label :title, "タイトル" %>
  <%= form.text_field :title %>
</div>
<div class="form-group">
  <%= form.label :content, "内容" %>
  <%= form.text_field :content %>
</div>
<div class="expired_at">
  <%= form.label :expired_at, "終了期限" %>
  <%= form.date_select :expired_at %>
</div>
<div class="class=”form-group”">
  <%= form.label :status, "ステータス" %>
  　<%= form.select :status, Task.statuses.keys, class: "disabled" %>
</div>
<div class="priority">
  <%= form.label :priority, "優先度" %>
  <%= form.select :priority, Task.priorities.keys %>
</div>

<% @labels.each do |label| %>
  <%= form.check_box :label_ids, { multiple: true, checked: @task.has_label?(label), disabled: label[:disabled], include_hidden: false }, label[:id] %>
  <%= label.name %>
<% end %>
<%# @labels.each do |label| %>
  <%#= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.map(&:to_param), disabled: label[:disabled], include_hidden: false }, label[:id] %>
  <%#= form.check_box :label_ids, { multiple: true, checked: @task.label_ids.map(&:to_param) } do |label| %>
<%# end %>
<div class="text-left">
  <%= form.submit "作成する", class: "btn btn-primary" %>
  <% end %>
</div>
