<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
   <div id="error_explanation">
     <h2><%= @task.errors.count %>件のエラーがあります。</h2>
     <ul>
     <% @task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
     </ul>
  </div>
<% end %>
<div class="title">
  <%= form.label :title, "タイトル" %>
  <%= form.text_field :title %>
</div>
<div class="content">
  <%= form.label :content, "内容" %>
  <%= form.text_field :content %>
</div>
<div class="expired_at">
  <%= form.label :expired_at, "終了期限" %>
  <%= form.date_select :expired_at %>
</div>
<div class="status">
  <%= form.label :status, "ステータス" %>
  <%= form.select :status, Task.statuses.keys %>
</div>
<%= form.submit "作成する" %>
<% end %>
