<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>

<h2>タスク一覧</h2>
<table class ="table">
  <thead>
    <tr>
      <th scope="col"><%= t('view.name') %></th>
      <th scope="col"><%= t('view.title') %></th>
      <th scope="col"><%= t('view.content') %></th>
      <th scope="col"><%= t('view.expired_at') %></th>
      <th scope="col"><%= t('view.status') %></th>
      <th scope="col"><%= t('view.priority') %></th>
    </tr>
  </thead>
  <% @tasks.each do |task| %>
    <tr>
    <% task.id %>
    <td><%= task.user.name %></td>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.expired_at %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    </tr>
  <% end %>
